.project
.classpath
.settings/*
reconf-client/.settings/*
reconf-client/target/*
reconf-client/.classpath
reconf-client/.project
reconf-infra/.settings/*
reconf-infra/target/*
reconf-infra/.classpath
reconf-infra/.project
reconf-spring/.settings/*
reconf-spring/target/*
reconf-spring/.classpath
reconf-spring/.project
reconf-spring/.springBeans
target/*
**/*.iml
**/.idea/**
reconf-servlet/.settings/org.eclipse.core.resources.prefs
reconf-servlet/.settings/org.eclipse.jdt.core.prefs
reconf-servlet/.settings/org.eclipse.m2e.core.prefs